.account-info {
  padding: 1rem;
}

.account-info {
  &__label {
    font-weight: bolder;
  }

  &__item {
    margin-bottom: 0.5rem;
  }

  &__groups, &__books {
    margin: 0 0 0 2rem;
    padding: 0;
    list-style-type: none;
  }

  &__group, &__book {
    margin: 0;
    padding: 0;
  }
}
