html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: $default-font-color;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Bitter', serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}
