.sub-header {
  color: $default-font-color;
  background-color: #F8F8F8;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 18px;
}

.section-header {
  font-family: 'Lato', sans-serif;
  margin: 1.5em 0 .5em 0;
  text-align: center;

  & h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 6px;
  }
}
