html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Bitter', serif;
}

.container {
}

.book-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em;
}

.book {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
  flex: 1 1 500px;
  margin-bottom: 1em;
}

.book__title {
  font-size: 1.5em;
  font-family: 'Bitter', serif;
}

.book__author {
  color:  rgb(100, 100, 100);
  display: block;
}

.book__desc {

}

.book__meta {
  padding: 1em;
}

.book__availability.available {
  color: green;
}

.book__availability.not-available {
  color: red;
}

.book__cover {
  font-family: 'Bitter', serif;
  position: relative;
  font-weight: 300;
  text-align: center;
  width: 180px;
  height: 274px;
  flex-shrink: 0;
}

.book__cover:after {
  content: attr(alt) " " "not" "\00a0" "found";

  font-size: 16px;
  color: rgb(100, 100, 100);
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);

  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
